@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- styles needed for carousel slider -->
    <link href="../../Content/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../../Content/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@

</head>
<body>
    <div id="wrapper">

        <div class="header">
            <nav class="navbar navbar-site navbar-light navbar-bodered bg-light navbar-expand-md"
                 role="navigation">
                <div class="container">

                    <div class="navbar-identity">

                        <a href='@Url.Action("Index", "Home")' class="navbar-brand logo logo-title">
                            <span class="logo-icon">
                                <i class="icon icon-search-1 ln-shadow-logo shape-0"></i>
                            </span>BOOT<span>CLASSIFIED </span>
                        </a>


                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                                type="button">

                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /></svg>


                        </button>



                    </div>


                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="nav-item">@Html.ActionLink("Acasa", "Index", "Home")</li>
                            <li class="nav-item">@Html.ActionLink("Categorii", "Index", "Categories")</li>
                            @if (Request.IsAuthenticated)
                            {
                                var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();

                                var userId = User.Identity.GetUserId();

                                var role = userManager.GetRoles(User.Identity.GetUserId()).FirstOrDefault();

                                @*if (role == "Editor")
                                    {
                                        <li class="dropdown no-arrow nav-item">
                                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

                                                <span>Adauga</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item">@Html.ActionLink("Adauga Categorie", "New", "Categories")</li>
                                                <li class="dropdown-item">@Html.ActionLink("Adauga Subcategorie", "New", "SubCategories")</li>
                                            </ul>
                                        </li>
                                    }*@

                                if (role == "Administrator")
                                {
                                    @*<li class="nav-item">@Html.ActionLink("Adauga Categorie", "New", "Categories")</li>
                                        <li class="nav-item">@Html.ActionLink("Adauga Subcategorie", "New", "SubCategories")</li>*@
                                    <li class="nav-item">@Html.ActionLink("Utilizatori", "Index", "Users")</li>
                                }
                            }
                        </ul>


                        @Html.Partial("_LoginPartial")

                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        @RenderSection("HomeImageSection", required: false)
        @RenderSection("SearchHeader", required: false)

        <div class="main-container">
            @RenderBody()
        </div>

        @RenderSection("HomeFooterSection", required: false)

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="Content/js/jquery/jquery-3.3.1.min.js">\x3C/script>')</script>

<script src="../../Content/js/vendors.min.js"></script>

<!-- include custom script for site  -->
<script src="../../Content/js/main.min.js"></script>

<script src="../../Content/js/pace.min.js"></script>
<script src="../../Content/plugins/modernizr/modernizr-custom.js"></script>

<!--used for dropdown menu-->
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

<!--primul l-am adaugat eu pt ca nu fct bine-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
<script>
    $('.bxslider').bxSlider({
        pagerCustom: '#bx-pager'
    });
</script>

<script>
    paceOptions = {
        elements: true
    };
</script>

<!-- include jquery file upload plugin  -->
<script src="../../Content/js/fileinput.min.js" type="text/javascript"></script>
<script>
    $("#fileUpload").fileinput();
</script>

<!--autocomplete for searchBox-->
<script type="text/javascript" src="../../Content/plugins/autocomplete/jquery.mockjax.js"></script>
<script type="text/javascript" src="../../Content/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="../../Content/plugins/autocomplete/usastates.js"></script>

<script type="text/javascript" src="../../Content/plugins/autocomplete/autocomplete-demo.js"></script>

<script type="text/javascript" src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>


