@{
    ViewBag.Title = "ConversationInfo";
}


<div class="panel panel-default">

    <div class="panel-body">
        Nume utilizator: <i class="glyphicon glyphicon-user"></i>
        @if (Context.User.Identity.Name == Model.Conversation.Product.User.UserName)
        {
            <strong>@Model.Conversation.Sender.UserName</strong>
        }
        else
        {
            <strong>@Model.Conversation.Product.User.UserName</strong>
        }
        <br />

        Anunt:
        <strong>@Model.Conversation.Product.Title</strong>

        Data:
        <span class="label label-info">@Model.LatestMessage.Date</span>
        <br />

        <p>@Model.LatestMessage.Content</p>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Conversation/Show/@Model.Conversation.ConversationId">Afisare conversatie</a>
        <a class="btn btn-sm btn-danger" href="/Conversation/Delete/@Model.Conversation.ConversationId">Sterge conversatie</a>
    </div>
</div>
<br />