@using Licenta.Common.Entities
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Anunturile marcate ca favorite";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 page-sidebar">
            <aside>
                <div class="inner-box">
                    <div class="user-panel-sidebar">
                        <div class="collapse-box">
                            <h5 class="collapse-title no-border">
                                Contul Meu <a href="#MyClassified" aria-expanded="true" data-toggle="collapse"
                                              class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyClassified">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Index", "Manage")'>
                                            <i class="icon-home"></i>
                                            Profilul Meu
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ChangeProfile", "Manage")'>
                                            <i class="icon-pencil"></i>
                                            Editeaza Profilul
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ChangePassword", "Manage")'>
                                            <i class="icon-lock"></i>
                                            Schimba Parola
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Anunturi <a href="#MyAds" aria-expanded="true" data-toggle="collapse"
                                            class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyAds">
                                <ul class="acc-list">
                                    <li>
                                        <a href="@Url.Action("Personal","Product")">
                                            <i class="icon-docs"></i> Anunturile mele <span class="badge">@ViewBag.NrAds</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href='@Url.Action("Index", "Interests")'>
                                            <i class="icon-heart"></i>
                                            Anunturi favorite <span class="badge badge-secondary">@ViewBag.NrInterests</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Index", "Rating")'>
                                            <i class="icon-star"></i>
                                            Calificativele Mele <span class="badge badge-secondary">@ViewBag.NrRatings</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href='@Url.Action("Index", "Conversation")'>
                                            <i class="icon-mail"></i> Messaje <span class="badge">@ViewBag.UnreadMessages</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->

                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Inchidere Cont <a href="#TerminateAccount"
                                                  aria-expanded="true" data-toggle="collapse"
                                                  class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="TerminateAccount">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Delete", "Manage")'>
                                            <i class="icon-cancel-circled "></i> Sterge-ti Contul
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                    </div>
                </div>
                <!-- /.inner-box  -->

            </aside>
        </div>
        <!--/.page-sidebar-->

        <div class="col-md-9 page-content">
            <div class="inner-box">
                <h2 class="title-2"><i class="icon-heart-1"></i> Anunturi Favorite </h2>

                <div class="table-responsive">
                    <div class="table-action">
                        <label for="checkAll">
                            <input type="checkbox" id="checkAll">
                            Selecteaza: Toate | <button id="delete" href="#" class="btn btn-primary btn-sm">
                                <i class="fa fa-trash"></i> Sterge din favorite
                            </button>
                        </label>

                        <div class="table-search pull-right col-sm-7">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-5 control-label text-right">
                                        Cauta <br>
                                        <a title="clear filter" class="clear-filter" href="#clear">[clear]</a>
                                    </label>

                                    <div class="col-sm-7 searchpan">
                                        <input type="text" class="form-control" id="filter">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Interests.Count == 0)
                    {
                        <p>Nu ai anunturi marcate ca favorite! </p>
                    }
                    else
                    {
                        <table id="addManageTable"
                               class="table table-striped table-bordered add-manage-table table demo"
                               data-filter="#filter" data-filter-text-only="true">
                            <thead>
                                <tr>
                                    <th data-type="numeric" data-sort-initial="true"></th>
                                    <th> Fotografie</th>
                                    <th data-sort-ignore="true"> Detalii Anunt</th>
                                    <th data-type="numeric"> Pret</th>
                                    <th> Optiune</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Interest interest in Model.Interests)
                                {
                                    @*@Html.Partial("ProductInfo", interest.Product);*@
                                    <tr>
                                        <td style="width:2%" class="add-img-selector">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="@interest.ProductId">
                                                </label>
                                            </div>
                                        </td>
                                        <td style="width:14%" class="add-img-td">
                                            <a href="/Product/Show/@interest.ProductId">
                                                <img class="thumbnail  img-responsive"
                                                     src="@Url.Action("MainProductPhoto", "Product", new { prodId = interest.ProductId})"
                                                     alt="img">
                                            </a>
                                        </td>
                                        <td style="width:58%" class="ads-details-td">
                                            <div>
                                                <p>
                                                    <strong>
                                                        <a href="/Product/Show/@interest.ProductId" title="@interest.Product.Title">
                                                            @interest.Product.Title
                                                        </a>
                                                    </strong>
                                                </p>

                                                <p>
                                                    <strong> Postat La </strong>:
                                                    @interest.Date
                                                </p>

                                                <p>
                                                    <strong>Vizualizari </strong>: @interest.Product.Views <strong>Locate:</strong> @interest.Product.City.CityName
                                                </p>
                                            </div>
                                        </td>
                                        <td style="width:16%" class="price-td">
                                            <div><strong> @interest.Product.Price RON</strong></div>
                                        </td>
                                        <td style="width:10%" class="action-td">
                                            <div>
                                                @*<p>
                                                        <a class="btn btn-info btn-sm">
                                                            <i class="fa fa-mail-forward"></i> Sterge din favorite
                                                        </a>
                                                    </p>*@

                                                <form method="post" action="/Product/Save/@interest.ProductId">
                                                    <p>
                                                        <button class="btn btn-primary btn-sm full-width" type="submit"><i class=" fa fa-heart"></i> Sterge din favorite</button>
                                                    </p>

                                                </form>

                                                @if ((interest.Product.UserId == User.Identity.GetUserId()) || User.IsInRole("Administrator") || User.IsInRole("Editor"))
                                                {
                                                    @*<p>
                                                            <a class="btn btn-success btn-sm" href="/Product/Edit/@interest.ProductId">
                                                                <i class=" fa fa-pen"></i> Editeaza anunt
                                                            </a>
                                                        </p>*@


                                                    if (interest.Product.Active == true)
                                                    {
                                                        <p>
                                                            <a class="btn btn-danger btn-sm full-width" href="/Product/Deactivate/@interest.ProductId">
                                                                <i class=" fa fa-power-off"></i>  Dezactivare anunt
                                                            </a>
                                                        </p>

                                                    }
                                                    else
                                                    {
                                                        <p>
                                                            <a class="btn btn-success btn-sm full-width" href="/Product/Activate/@interest.ProductId">
                                                                <i class=" fa fa-power-off"></i> Activare anunt
                                                            </a>
                                                        </p>

                                                    }


                                                    <form method="post" action="/Product/Delete/@interest.ProductId">
                                                        <p>
                                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                                            <button class="btn btn-danger btn-sm full-width" type="submit" padding-right:11px" onclick="return confirm('Esti sigur?');"><i class=" fa fa-trash"></i> Stergere anunt</button>
                                                        </p>
                                                    </form>

                                                }

                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                </div>
                <!--/.row-box End-->

            </div>
            @if (Model.Interests != null)
            {
                <div class="pagination-bar text-center">
                    <nav aria-label="Page navigation " class="d-inline-b">
                        Pagina @(Model.Interests.PageCount < Model.Interests.PageNumber ? 0 : Model.Interests.PageNumber) din @Model.Interests.PageCount

                        @Html.PagedListPager((IPagedList)Model.Interests, page => Url.Action("Index", new { page = page}),
                                         new PagedListRenderOptions
                                         {
                                             FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link".ToString()); return aTag; },
                                             LiElementClasses = new string[] { "page-item" },
                                         })
                    </nav>
                </div>
            }

        </div>
        <!--/.page-content-->
    </div>
    <!--/.row-->
</div>
<!--/.container-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).get(0).id);
                }
            });

            var options = {};
            options.url = "../Interests/Delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                //alert(msg);
                window.location.href = "../Interests/Index";
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
</script>

@*<script>

        $(function () {

            $('#getProducts').click(function () {
                var features = [];
                $('.feature input[type="checkbox"]:checked').each(function () {
                    features.push($(this).val());
                });
                $.ajax({
                    url: "/Home/GetAttendeeJson",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify({ checkBoxValues: vals }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result.success) {
                        }
                        else {
                        }
                    }
                });
                @Html.ActionLink("RemoveMultipleFromSaved","Product", new { productsId = features})
            });
        });

    </script>*@
