@using Licenta.Common.Entities
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@*@{
        ViewBag.Title = "Calificativele utilizatorului " + Model.RatedUser.UserName;
    }

    <h2>@ViewBag.Title</h2>
    <hr />
    <br />
    @if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
        <br />
    }

    @if (Model.Ratings.Count == 0)
    {
        <p>Nu exista calificative pentru utilizator! </p>
    }
    else
    {
        <strong>Calificativ general: </strong> @Model.RatedUser.RatingScore
        <br /><br />
        <strong>Rating detaliat utilizator: </strong>
        <br />
        <span>Comunicarea vanzatorului: </span>@Model.RatedUser.CommunicationScore
        <br />
        <span>Acuratetea descrierii anunturilor: </span>@Model.RatedUser.AccuracyScore
        <br />
        <span>Timpul de onorare al comenzilor: </span>@Model.RatedUser.TimeScore
        <br />
        <br />

        <h4>Calificative primite</h4>
        <hr />
        <br />
    }

    @foreach (Rating rating in Model.Ratings)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                De la:
                <strong>@Html.ActionLink((String)rating.User.UserName, "UserProfile", "Account", new { id = rating.User.Id }, null)</strong>
                <br />
            </div>
            <div class="panel-body">
                <strong>Calificativ: </strong>@rating.Average
                <hr />

                <strong>Data: </strong> @rating.Date.ToString("dd/MM/yyyy")
                <br />

                <strong>Detaliere calificativ:</strong>
                <br />
                Comunicarea vanzatorului: @rating.Communication
                <br />
                Acuratetea descrierii anunturilor: @rating.Accuracy
                <br />
                Timpul de onorare al comenzilor: @rating.Time
                <br />

                @if (!String.IsNullOrEmpty(rating.Text))
                {
                    <strong>Descriere experienta: </strong> @rating.Text
                    <br />
                }

            </div>
            @if (User.Identity.GetUserId() == rating.UserId)
            {
                <div class="panel-footer">
                    <a class="btn btn-sm btn-info" href="/Rating/Edit/@rating.RatingId">Editeaza</a>
                </div>
            }

        </div>
        <br />
    }*@


<div class="container">
    @if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
    }
    <div class="row">
        <div class="col-md-3 page-sidebar">
            <aside>
                <div class="inner-box">
                    <div class="user-panel-sidebar">
                        <div class="collapse-box">
                            <h5 class="collapse-title no-border">
                                Contul Meu <a href="#MyClassified" aria-expanded="true" data-toggle="collapse"
                                              class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyClassified">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Index", "Manage")'>
                                            <i class="icon-home"></i>
                                            Profilul Meu
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ChangeProfile", "Manage")'>
                                            <i class="icon-pencil"></i>
                                            Editeaza Profilul
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ChangePassword", "Manage")'>
                                            <i class="icon-lock"></i>
                                            Schimba Parola
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Anunturi <a href="#MyAds" aria-expanded="true" data-toggle="collapse"
                                            class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyAds">
                                <ul class="acc-list">
                                    <li>
                                        <a href="@Url.Action("Personal","Product")">
                                            <i class="icon-docs"></i> Anunturile mele <span class="badge">@ViewBag.NrAds</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Index", "Interests")'>
                                            <i class="icon-heart"></i>
                                            Anunturi favorite <span class="badge badge-secondary">@ViewBag.NrInterests</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href='@Url.Action("Index", "Rating")'>
                                            <i class="icon-star"></i>
                                            Calificativele Mele <span class="badge badge-secondary">@ViewBag.NrRatings</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href='@Url.Action("Index", "Conversation")'>
                                            <i class="icon-mail"></i> Messaje <span class="badge">@ViewBag.UnreadMessages</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->

                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Inchidere Cont <a href="#TerminateAccount"
                                                  aria-expanded="true" data-toggle="collapse"
                                                  class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="TerminateAccount">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Delete", "Manage")'>
                                            <i class="icon-cancel-circled "></i> Sterge-ti Contul
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                    </div>
                </div>
                <!-- /.inner-box  -->

            </aside>
        </div>
        <!--/.page-sidebar-->
        <div class="col-md-9 page-content">
            <div class="inner-box">
                <h2 class="title-2"><i class="icon-mail"></i> Conversatii </h2>
                <div class="inbox-wrapper">
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            @*<div class="btn-group hidden-sm">
                                    <a href="account-message-compose.html" class="btn btn-primary text-uppercase">
                                        <i class="fas fa-plus"></i> Compose
                                    </a>
                                </div>*@
                        </div>

                        <div class="col-md-9 col-lg-10">

                            <div class="btn-group  mobile-only-inline">
                                <a href="account-message-compose.html" class="btn btn-primary text-uppercase">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                            <div class="btn-group hidden-sm">

                                @using (Html.BeginForm("Index", "Rating", FormMethod.Get, new { id = "form1" }))
                                {
                                    @Html.DropDownList("sortType", new SelectList(
                                                                        new List<Object>{
                                                                        new { value = "Received" , text = "Calificative primite" },
                                                                        new { value = "Given" , text = "Calificative acordate"  },
                                                                       }, "value", "text", 1), new { id = "sortType", @class = "form-control", @onchange = "submitform();" });
                                }

                            </div>

                            <button onclick='location.reload();' type="button" class="btn btn-secondary hidden-sm" data-toggle="tooltip"
                                    title="Refresh">
                                <span class="fas fa-sync-alt"></span>
                            </button>

                            @*<div class="btn-group hidden-sm">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown">
                                        More
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-item">
                                            <a class="markAllAsUnRead">Mark all as read</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="markAllAsRead">Mark all as unread</a>
                                        </li>
                                        <li class="divider dropdown-item"></li>
                                        <li class="text-center dropdown-item">
                                            <small class="text-muted">More actions</small>
                                        </li>
                                    </ul>
                                </div>*@

                            <div class="message-tool-bar-right pull-right">
                                @*<span class="text-muted count-message"><b>1</b> - <b>20</b> of <b>255</b></span>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-secondary">
                                        <span class="fas fa-arrow-left"></span>
                                    </button>
                                    <button type="button" class="btn btn-secondary">
                                        <span class="fas fa-arrow-right"></span>
                                    </button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            <ul class="nav nav-pills  inbox-nav">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Rating",new { sortType = "Received"})" class="nav-link">
                                        Calificative primite
                                        <span class="badge badge-gray count">@ViewBag.UnreadMessages</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Rating",new { sortType = "Given"})" class="nav-link">
                                        Calificative acordate
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="message-list">
                                <div id="home">
                                    <div class="list-group">
                                        @if (Model.Ratings.Count == 0)
                                        {
                                            <p>Nu exista calificative pentru utilizator! </p>
                                        }
                                        else
                                        {
                                            foreach (Rating rating in Model.Ratings)
                                            {

                                                <div class="list-group-item">
                                                    @if (rating.RatedUserId == User.Identity.GetUserId()) //se af calificativele primite
                                                    {
                                                        <a href="@Url.Action("UserProfile", "Account", new { id = rating.UserId })" class="list-box-user">
                                                            <img src="@Url.Action("UserPhotos", "Account", new { id = rating.UserId })" alt="user">
                                                            <span class="name"> @rating.User.UserName </span>
                                                        </a>

                                                    }
                                                    else //se af calificativele oferite
                                                    {
                                                        <a href="@Url.Action("UserProfile", "Account", new { id = rating.RatedUserId })" class="list-box-user">
                                                            <img src='@Url.Action("UserPhotos", "Account", new { id = rating.RatedUserId })' alt="user">
                                                            <span class="name">@rating.RatedUser.UserName </span>
                                                        </a>
                                                    }
                                                    <a class="list-box-content">
                                                        <span class="title">Calificativ general: @rating.Average</span>
                                                        <div class="message-text">
                                                            <p class="info-row"><span style="font-weight:bold">Comunicarea vanzatorului:</span> @rating.Communication</p>
                                                            <p class="info-row"><span style="font-weight:bold">Acuratetea descrierii anunturilor:</span> @rating.Accuracy</p>
                                                            <p class="info-row"><span style="font-weight:bold">Timpul de onorare al comenzilor:</span> @rating.Time</p>
                                                            @if (!String.IsNullOrEmpty(rating.Text))
                                                            {
                                                                <p class="info-row"><span style="font-weight:bold">Descriere experienta: </span></p>
                                                                <p class="info-row">@rating.Text</p>
                                                            }
                                                        </div>
                                                        <div class="time text-muted">@rating.Date</div>
                                                    </a>
                                                    <div class="list-box-action">
                                                        @if (User.Identity.GetUserId() == rating.UserId)
                                                        {
                                                            <a class="markAsRead" data-toggle="tooltip" data-placement="top"
                                                               title="Editeaza"><i class=" fas fa-pencil"></i></a>
                                                            @*<a class="btn btn-sm btn-info" href="/Rating/Edit/@rating.RatingId">Editeaza</a>*@
                                                        }

                                                    </div>
                                                </div>
                                            }
                                        }


                                    </div>
                                </div>
                            </div>
                            <div class="pagination-bar text-center">
                                <nav aria-label="Page navigation " class="d-inline-b">
                                    Pagina @(Model.Ratings.PageCount < Model.Ratings.PageNumber ? 0 : Model.Ratings.PageNumber) din @Model.Ratings.PageCount

                                    @Html.PagedListPager((IPagedList)Model.Ratings, page => Url.Action("Index", new { 
                                   sortType = ViewBag.SortType, page = page}),
                                                           new PagedListRenderOptions
                                                           {
                                                               FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link".ToString());
                                                                   return aTag; },
                                                               LiElementClasses = new string[] { "page-item" },
                                                           })
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/. inbox-wrapper-->
            </div>
        </div>
        <!--/.page-content-->
    </div>
    <!--/.row-->
</div>
<!--/.container-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript">
    function submitform() {
        $('#form1').submit();
    }
</script>

@*@using Licenta.Common.Entities
    @using Microsoft.AspNet.Identity
    @{
        ViewBag.Title = "Calificativele utilizatorului " + Model.RatedUser.UserName;
    }

    <h2>@ViewBag.Title</h2>
    <hr />
    <br />
    @if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
        <br />
    }

    @if (Model.Ratings.Count == 0)
    {
        <p>Nu exista calificative pentru utilizator! </p>
    }
    else
    {
        <strong>Calificativ general: </strong> @Model.RatedUser.RatingScore
        <br /><br />
        <strong>Rating detaliat utilizator: </strong>
        <br />
        <span>Comunicarea vanzatorului: </span>@Model.RatedUser.CommunicationScore
        <br />
        <span>Acuratetea descrierii anunturilor: </span>@Model.RatedUser.AccuracyScore
        <br />
        <span>Timpul de onorare al comenzilor: </span>@Model.RatedUser.TimeScore
        <br />
        <br />

        <h4>Calificative primite</h4>
        <hr />
        <br />
    }

    @foreach (Rating rating in Model.Ratings)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                De la:
                <strong>@Html.ActionLink((String)rating.User.UserName, "UserProfile", "Account", new { id = rating.User.Id }, null)</strong>
                <br />
            </div>
            <div class="panel-body">
                <strong>Calificativ: </strong>@rating.Average
                <hr />

                <strong>Data: </strong> @rating.Date.ToString("dd/MM/yyyy")
                <br />

                <strong>Detaliere calificativ:</strong>
                <br />
                Comunicarea vanzatorului: @rating.Communication
                <br />
                Acuratetea descrierii anunturilor: @rating.Accuracy
                <br />
                Timpul de onorare al comenzilor: @rating.Time
                <br />

                @if (!String.IsNullOrEmpty(rating.Text))
                {
                    <strong>Descriere experienta: </strong> @rating.Text
                    <br />
                }

            </div>
            @if (User.Identity.GetUserId() == rating.UserId)
            {
                <div class="panel-footer">
                    <a class="btn btn-sm btn-info" href="/Rating/Edit/@rating.RatingId">Editeaza</a>
                </div>
            }

        </div>
        <br />
    }*@




