@using Licenta.Common.Models
@{
    ViewBag.Title = "Conversatiile mele";
}

<h2>@ViewBag.Title</h2>
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<p>Aici ai raspunsurile la anunturile tale si raspunsurile trimise de tine pentru alte anunturi</p>

@using (Html.BeginForm("Index", "Conversation", FormMethod.Get))
{
    @Html.Label("Afiseaza:");
    @Html.DropDownList("sortType", new SelectList(
                                        new List<Object>{
                                        new { value = "Received" , text = "Mesaje primite"  },
                                        new { value = "Sent" , text = "Mesaje trimise" }
                                       }, "value", "text", 1), new { id = "sortType", @class = "form-control" });

    <br />
    <input class="btn btn-default" type="submit" value="Aplica" />
}

@foreach (ConversationMessage conversation in Model.Conversations)
{
    @Html.Partial("ConversationInfo", conversation);

}