@model Licenta.Models.Categories.SubCategory

@{
    ViewBag.Title = "Adaugare subcategorie";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/SubCategories/New">
    <label>Selectati Categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"), "Selectati categoria", new { id = "catList", @class = "form-control" })
    <br /><br />
    @Html.Label("SubCategoryName", "Denumire subcategorie")
    <br />
    @Html.TextBox("SubCategoryName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SubCategoryName, null, new { @class = "text-danger " })
    <br /><br />
    <button class="btn btn-sm btn-success" type="submit">Adauga subcategorie</button>
</form>
