
@{
    ViewBag.Title = "Afisare Subcategorie";
}

<h2>@ViewBag.Title</h2>
<h1>@ViewBag.SubCategoryName</h1>

<br />

@if (ViewBag.Allow == true)
{
    <a class="btn btn-sm btn-info" href="/SubCategories/Edit/@ViewBag.SubCategoryId">Modifica subcategoria</a>
    <br /><br />
    <form method="post" action="/SubCategories/Delete/@ViewBag.SubCategoryId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge subcategoria</button>
    </form>
}
<br />
<br />

<form method="POST">
    Sorteaza dupa:
    <select id="sortType" name="sortType">
        <option value="Select">--Selecteaza--</option>
        <option value="Title">Titlu</option>
        <option value="Date">Data postarii</option>
        <option value="PriceAsc">Pret crescator</option>
        <option value="PriceDesc">Pret descrescator</option>
    </select>
    <input class="btn btn-default" type="submit" value="Aplica" />
</form>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (Licenta.Models.Product product in ViewBag.Products)
{
    @Html.Partial("ProductInfo", product);
}

<a class="btn btn-sm btn-success" href="/Product/New">Adauga un anunt</a>
<br />