@model Licenta.Common.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Schimba Parola";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 page-sidebar">
            <aside>
                <div class="inner-box">
                    <div class="user-panel-sidebar">
                        <div class="collapse-box">
                            <h5 class="collapse-title no-border">
                                Contul Meu <a href="#MyClassified" aria-expanded="true" data-toggle="collapse"
                                              class="pull-right">
                                    @*<i class="fa fa-angle-down"></i>*@
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyClassified">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Index", "Manage")'>
                                            <i class="icon-home"></i>
                                            Profilul Meu
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ChangeProfile", "Manage")'>
                                            <i class="icon-pencil"></i>
                                            Editeaza Profilul
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href='@Url.Action("ChangePassword", "Manage")'>
                                            <i class="icon-lock"></i>
                                            Schimba Parola
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Anunturi <a href="#MyAds" aria-expanded="true" data-toggle="collapse"
                                            class="pull-right">
                                    @*<i class="fa fa-angle-down"></i>*@
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="MyAds">
                                <ul class="acc-list">
                                    <li>
                                        <a href="@Url.Action("Personal","Product")">
                                            <i class="icon-docs"></i> Anunturile mele <span class="badge">@ViewBag.NrAds</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Index", "Interests")'>
                                            <i class="icon-heart"></i>
                                            Anunturi favorite <span class="badge badge-secondary">@ViewBag.NrInterests</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Index", "Rating")'>
                                            <i class="icon-star"></i>
                                            Calificativele Mele <span class="badge badge-secondary">@ViewBag.NrRatings</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href='@Url.Action("Index", "Conversation")'>
                                            <i class="icon-mail"></i> Messaje <span class="badge">@ViewBag.UnreadMessages</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->

                        <div class="collapse-box">
                            <h5 class="collapse-title">
                                Inchidere Cont <a href="#TerminateAccount"
                                                  aria-expanded="true" data-toggle="collapse"
                                                  class="pull-right">
                                    @*<i class="fa fa-angle-down"></i>*@
                                </a>
                            </h5>

                            <div class="panel-collapse collapse show" id="TerminateAccount">
                                <ul class="acc-list">
                                    <li>
                                        <a href='@Url.Action("Delete", "Manage")'>
                                            <i class="icon-cancel-circled "></i> Sterge-ti Contul
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                    </div>
                </div>
                <!-- /.inner-box  -->

            </aside>
        </div>
        <!--/.page-sidebar-->

        <div class="col-md-9 page-content">
            <div class="inner-box">
                <div class="row">
                    <div class="col-md-5 col-xs-4 col-xxs-12">
                        <h3 class="no-padding text-center-480 useradmin">
                            <a href="">
                                <img class="userImg"
                                     src="@Url.Action("UserPhotos", "Account", new { id = User.Identity.GetUserId() } )"
                                     alt="user"> @User.Identity.GetUserName()
                                </a>
                            </h3>
                        </div>
                        <div class="col-md-7 col-xs-8 col-xxs-12">
                            <div class="header-data text-center-xs">
                                <div class="hdata">
                                    <div class="mcol-left">
                                        <!-- Icon with red background -->
                                        <i class="fas fa-envelope ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">
                                        <!-- Number of visitors -->
                                        <p><a href="account-message-inbox.html">@ViewBag.UnreadMessages</a> <em>Mesaje noi</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- Traffic data -->
                                <div class="hdata">
                                    <div class="mcol-left">
                                        <!-- Icon with red background -->
                                        <i class="fa fa-eye ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">
                                        <!-- Number of visitors -->
                                        <p><a href="#">@ViewBag.AdViews</a> <em>Vizite anunturi</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- revenue data -->
                                <div class="hdata">
                                    <div class="mcol-left">
                                        <!-- Icon with green background -->
                                        <i class="icon-th-thumb ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">
                                        <!-- Number of visitors -->
                                        <p><a href="#">@ViewBag.NrAds</a><em>Anunturi postate</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- revenue data -->
                                <div class="hdata">
                                    <div class="mcol-left">
                                        <!-- Icon with blue background -->
                                        <i class="fa fa-user ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">
                                        <!-- Number of visitors -->
                                        <p><a href="#">@ViewBag.NrRatings</a> <em>Calificative primite</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inner-box">
                    <div class="welcome-msg">
                        <h3 class="page-sub-header2 clearfix no-padding">Securitate</h3>
                    </div>
                    <div id="accordion" class="panel-group">

                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a href="#collapseB1" aria-expanded="true" data-toggle="collapse">
                                        Schimba parola!
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse show" id="collapseB1">
                                <div class="card-body">
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <input type="submit" value="Schimba" class="btn btn-default" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.row-box End-->

                </div>
            </div>
            <!--/.page-content-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }