@model Licenta.Common.Entities.City

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>City</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


<div class="container">
    <div class="row">


        <div class="col-md-12 page-content">
            <div class="inner-box category-content">
                <h2 class="title-2 uppercase">
                    <strong>
                        <i class="icon-plus"></i> Adauga Oras
                    </strong>


                </h2>


                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nume oras</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <br />
                            <!-- Button  -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-8">
                                    <div style="clear:both"></div>
                                    <button class="btn btn-primary" type="submit">Adauga</button>
                                </div>
                            </div>


                        }


                        <div>
                            @Html.ActionLink("Vezi Orasele", "Index")
                        </div>

                        <div class="clearfix"></div>
                        <br />

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 reg-sidebar">

        </div>
        <!--/.reg-sidebar-->
    </div>
</div>
